name: Main CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x, 16.x]

    steps:
      - uses: actions/checkout@v2

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}

      - name: Build typescript project
        run: |
          npm install
          npm run build

      - name: Run ESLint and Prettier
        run: |
          npm run lint
          npm run prettier

      - name: Setup example project for integration tests
        working-directory: './example'
        run: |
          npm install
          npm run build
          npm run test:server &

      - name: Run integration tests
        uses: cypress-io/github-action@v2
